<% import pprint %>

<h1>Email: {{ logged_in_email }}</h1>
<h2>Verified: {{ auth['email_verified'] if 'email_verified' in auth else None }}</h2>
<h3>Auth Data:</h3>
<pre>
{{ pprint.pformat(auth) }}
</pre>

<hr>

<h2>Stripe Customer Id: {{ stripe_customer.id if stripe_customer else None }}</h2>
<h2>Stripe Subscription Count: {{ len(stripe_subscriptions.data) if stripe_subscriptions else None }}</h2>

<hr>
<h2>Headers:</h2>
<ul>
  % for name in headers.keys():
    <li>{{name}}: {{ 'XX_REDACTED_XX' if name == 'Cookie' else headers.get(name) }}</li>
  % end
</ul>

